.home_bg{
    width: 100%;
    height: 800px;
        /* overflow: hidden; */
        margin: 0px auto;
        position: relative;
        /* padding-top: 60px; */
}
.videobcg{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.test{
    font-size: 150px;
}

.home-outer{
    width: 100%;
}

.home_wrapper{
    /* padding: 100px 0px; */
    position: absolute;
    top:30%;
    width:100%;
    color:#fff;
    margin:auto;
}

.home_mainTitle{
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
    
}

.home_subWrapper{
    padding: 50px 0px;
}

.home_subTitle{
    text-align: center;
    font-size: 20px;
}

.home_btnWrapper{
    padding: 50 0px;
    justify-content: center;
    align-items: center;
}

.home_button{
    
    display: flex;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 40px;
    font-size: 15px;
    font-family: sans-serif;
    margin:auto;
}

.home_button{
    outline: none;
}

.home_button:hover{
    background-color: rgb(245, 242, 242);
    color: black;
}

/* home-imageBoxWrapper */
.home_imageBoxWrapper{
    background-color: rgb(238, 245, 255);
}

.home_imgWrapper{
    padding: 50px 100px 70px 100px;
}

.home_imageBoxWrapper{
    padding-top: 50px;
}

.home-imgBox-h1{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    color: rgb(101, 102, 102);
}

.home-imgBox-h1-2{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color:rgb(67, 64, 64);
}

.home-landingBoxWrapper{
    grid-template-columns: 1fr 1fr 1fr;
}

.home-footer{
    background-color: rgb(26, 26, 26);
    height: 300px;
}